{% extends 'layout.html.twig' %}
{% block content %}
	<div class="container">
		{% include 'sidebar.html.twig' %}
		<div class="main">
			{% if msg is not empty %}
				<div class="alert alert-success d-flex align-items-center" role="alert">
					<i class="bi bi-check-circle-fill flex-shrink-0 me-2 mr-3" role="img" aria-label="Success:"></i>
					<div>{{ msg }}</div>
				</div>
			{% endif %}


			{% if query is not empty and lastQuestions is empty %}


				<h2>Search result for "{{ query }}"</h2>

				<h3>No result found</h3>


			{% elseif query is not empty and lastQuestions is not empty %}

				<h2>Search result for "{{ query }}"</h2>

			{% elseif tag is not empty and lastQuestions is not empty %}

				<h2>Search result for tag "{{ query }}"</h2>

			{% elseif tag is not empty and lastQuestions is empty %}


				<h2>Search result for tag "{{ query }}"</h2>


				<h2>No result found
				</h2>


			{% else %}
				<h2>Last Questions</h2>
			{% endif %}


			<div class="grid-container">
				{% for lastQuestion in lastQuestions %}
					<div class="grid-item">
						<div class="row">
							<div class="info-row">
								<div class="avatar">
									<i class="bi bi-person-circle icon-large"></i>
								</div>
								<span>|</span>
								<div class="time">
									<div class="time-container">
										<span class="time-display" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Time lauching meeting">{{ lastQuestion.scheduled_at|date("H\\hi") }}</span>
									</div>
								</div>
								<span>|</span>
								<div class="capacity">
									<div class="capacity-container">
										<span class="capacity-display" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Users subscribed">{{ lastQuestion.participant_count }}/5</span>
									</div>
								</div>
								<span>|</span>
								<div class="participate">
									<form id="participation-form" method="POST" {% if user %} action="/question/participate" {% else %} action="/login" {% endif %}>
										{% if user %}
											<input type="hidden" name="userId" value="1">
											<input type="hidden" name="questionId" value="{{ lastQuestion.id }}">
										{% endif %}
										<button type="submit" class="btn-card">
											<i class="bi bi-hand-index-thumb" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="To participate question"></i>
										</button>
									</form>
								</div>
								<span>|</span>
								<div class="like">
									<form id="like-form" method="POST" {% if user %} action='/question/alert' {% else %} action='/login' {% endif %}>
										{% if user %}
											<input type="hidden" name="userId" value="1">
											<input type="hidden" name="questionId" value="{{ lastQuestion.id }}">
										{% endif %}
										<button type="submit" class="btn-card">
											<i class="bi bi-bell" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Be alerted on question meeting start"></i>
										</button>
									</form>
								</div>
							</div>
							<div class="card-question">
								<div class="card-body">
									<h4 class="card-title">{{ lastQuestion.title }}</h4>
									<p class="card-text">
										"{{ lastQuestion.description|slice(0,80) }}"
										<button class="readmore" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="{{ lastQuestion.description }}">
											[...]
										</button>
									</p>
									<div class="card-user">
										<span>{{user.name}}</span>
									</div>
									<div class="card-tag">
										{% for tag in lastQuestion.tag_list %}
											<span class="badge text-bg-secondary">{{ tag }}</span>
										{% endfor %}
									</div>
								</div>
							</div>

						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script>
		document.addEventListener("DOMContentLoaded", function () {

const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
const popoverList = [... popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));


const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [... tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
});
	</script>
{% endblock %}
