{% extends 'layout.html.twig' %}
{% block content %}

<div class="container">
    <h2>Last Questions</h2>
    <ul>
        {% for query in lastQuestions %}
        <li class="row">
            <div class="info-row">
                            <div class='avatar-div'>
                        <img class="avatar"></img>
                    </div>

                <div class='time'>
                    <span class="time-label">Time:</span>
                    <div class="time-container">
                        <span class="time-display">18:00</span>
                    </div>
                </div>

                <div class='capacity'>
                    <span class="capacity-label">Capacity:</span>
                    <div class="capacity-container">
                        <span class="capacity-display">0/5</span>
                    </div>
                </div>

                <div class='participate'>
                    <form id="participation-form" method="POST" {% if user %} action='/question/participate' {% else %} action='/login' {% endif %}>
                        {% if user %}
                        <input type="hidden" name="userId" value="1">
                        <input type="hidden" name="questionId" value="{{ query.id }}">
                        {% endif %}
                        <button type="submit" class="btn-card"></button>
                    </form>
                </div>

                 <div class='like'>
                    <form id="like-form" method="POST" {% if user %} action='/question/alert' {% else %} action='/login' {% endif %}>
                        {% if user %}
                        <input type="hidden" name="userId" value="1">
                        <input type="hidden" name="questionId" value="{{ query.id }}">
                        {% endif %}
                        <button type="submit" class="btn-card"></button>
                    </form>
                </div>
            </div>
            <div class="card-question">
                <div class="card-body">
                    <h4 class="card-title">{{ query.title }}</h4>
                    <p class="card-text">{{ query.description }}</p>
                </div>
                <div class="card-footer">
                    <span>{{ query.name }}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
