{% extends 'layout.html.twig' %}

{% block content %}

<div class="container">

	<div class="main-login">

		<h1 class="title">User profile</h1>

		<p><img src="{{user.image_profil}}" alt="user profile of {{ user.pseudo }}"></p>
		<h6>{{ user.email }}</h6>
		<h6>{{ user.pseudo }}</h6>
    	<a href="/edit?id={{ user.id }}">Edit</a>
	</div>
</div>
{% endblock %}