{# TODO : manage errors display #}

<form method="post">
    <input type="hidden" value="{{ question.id }}" name="id">

    <label for="title">Titre de la question</label>
    <input type="text" value="{{ question.title }}" name="title" id="title">

    <label for="description">Description</label>
    <textarea name="description" id="description" rows="4" cols="50">{{ question.description }}</textarea>

    <label for="scheduled_at">Heure du meeting</label>
    <input type="text" value="2024-05-27 15:45:00" placeholder="2024-05-27 15:45:00" name="scheduled_at" id="scheduled_at">

    <label for="tags">Tags (choix multiples)</label>

{#     <select name="tags[]" multiple>
        {% for tag in tags %}
            <option value="{{ tag.id }}" {% if tag.id in tags %} selected {% endif %}></option>>{{ tag.name }}</option>
        {% endfor %}
    </select> #}


    <select name="tags[]" multiple>
        {% for tag in tags %}
            <option value="{{ tag.id }}" {% if tag.id in selected_tags %}selected{% endif %}>{{ tag.name }}</option>
        {% endfor %}
    </select>


    <button type="submit">GO!!</button>
</form>